# Bun & Node.js dependencies
node_modules/
.npm
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
package-lock.json
yarn.lock
bun.lockb

# Build output
dist/
dist-ssr/
*.local
.vite/
.output/
.build/

# Environment and config files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod
.env.dev
.env.staging
*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
.nyc_output/
__tests__/coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# Typescript
*.tsbuildinfo

# Miscellaneous
.cache/
.temp/
.eslintcache
.stylelintcache
.vercel
.netlify
*.bak
*~